.content {
    width: 500px;
}

.leftWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}