<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/generic.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/account.css"/>
    <title>Account Page</title>
</head>
<body>
<div id="header">
    <div id="back">
        <a th:href="${backButton}">
            <span id="backButton">&#11176;</span>
        </a>
    </div>
    <h1 th:text="${'Account n. ' + accountID}">Account Page</h1>
    <div id="logout">
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div id="page">
    <div class="leftWrapper">
        <div class="content">
            <div class="detailRow">
                <p>Code:</p>
                <p th:text="${accountID}">code</p>
            </div>
            <div class="detailRow">
                <p>Balance: </p>
                <p class="account-balance" th:text="${'$ ' + balance}">balance</p>
            </div>
        </div>
        <div class="content" id="transfer-make">
            <h3>Transfer</h3>
            <form action="do_transfer" method="POST">
                <label>Recipient user code:
                    <input type="text" name="recipientCode" th:value="${recipientUserCode}" required>
                </label><br>
                <label>Recipient account code:
                    <input type="text" name="recipientAccountCode" th:value="${recipientAccountCode}" required>
                </label><br>
                <label>Reason:
                    <input type="text" name="reason" th:value="${reason}" required>
                </label><br>
                <label>Transfer amount:
                    <input type="number" step="0.01" min="0.01" name="amount" th:value="${amount}" required>
                </label><br>
                <input class="sendButton" type="submit" value="Transfer">
                <p th:text="${errorMsg}"></p>
            </form>
        </div>
    </div>

    <div id="vl"></div>

    <div class="rightWrapper">
        <div id="transfer-list" class="content">
            <h3>Transfer List</h3>
            <div th:if="${#lists.isEmpty(transfers)}">
                <p class="error">No transfers were made with this account</p>
            </div>
            <table class="transferTable" th:if="${not #lists.isEmpty(transfers)}">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Date</td>
                    <td>Amount</td>
                    <td>Sender</td>
                    <td>Recipient</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transfer: ${transfers}">
                    <td th:text="${transfer.transferID}"></td>
                    <td th:text="${transfer.date}"></td>
                    <td th:text="${transfer.amount}"></td>
                    <td th:text="${transfer.sender}"></td>
                    <td th:text="${transfer.recipient}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>