<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/generic.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/transfer.css"/>
    <title>Transfer confirmation</title>
</head>
<body>
<div>
    <div id="header">
        <div id="back">
            <a th:href="${backButton}">
                <span id="backButton">&#11176;</span>
            </a>
        </div>
        <h1 th:text="${'Account n. ' + senderAccountCode}">Account Page</h1>
        <div id="logout">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <div id="page">
        <div class="content">
            <div class="upperWrapper">
                <h1 th:text="${'Transfer n. ' + transferCode}">Transfer confirmation</h1>
                <div class="transfer-details">
                    <p th:text="${transferCode}">code</p>
                    <p th:text="${'$ ' + amount}">amount</p>
                    <p th:text="${reason}">reason</p>
                    <p th:text="${date}">date</p>
                </div>
            </div>
            <div class="lowerWrapper">
                <div class="sender-details">
                    <h2>Sender</h2>
                    <p th:text="${'User code ' + senderUserCode}">senderUserCode</p>
                    <p th:text="${'Account code ' + senderAccountCode}">senderAccountCode</p>
                    <p th:text="${'Balance before transfer ' + senderBalanceBefore}">senderAccountBalanceBefore</p>
                    <p th:text="${'Balance after transfer ' + senderBalanceAfter}">senderAccountBalanceAfter</p>
                </div>
                <div id="vl"></div>
                <div class="recipient-details">
                    <h2>Recipient</h2>
                    <p th:text="${'User code ' + recipientUserCode}">recipientUserCode</p>
                    <p th:text="${'Account code ' + recipientAccountCode}">recipientAccountCode</p>
                    <p th:text="${'Balance before transfer ' + recipientBalanceBefore}">
                        recipientAccountBalanceBefore</p>
                    <p th:text="${'Balance after transfer ' + recipientBalanceAfter}">recipientAccountBalanceAfter</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>