<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/generic.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/index.css"/>
</head>
<body>

<div id="header">
    <h1>Welcome to the Bank Application!</h1>
</div>
<div id="page">
    <div class="wrapper">
        <div class="form">
            <h1>Login</h1>
            <form action="login" method="POST">
                <label>Email:
                    <input type="text" name="email" th:value="${email}" required>
                </label><br>
                <label>Password:
                    <input type="password" name="password" required>
                </label><br>
                <input class="sendButton" type="submit" value="Login">
                <p th:text="${errorMsg}"></p>
            </form>
        </div>
    </div>

    <div id="vl"></div>

    <div class="wrapper" id="rightWrapper">
        <div class="form">
            <h1>Sign Up</h1>
            <form action="signup" method="POST">
                <label>Email:
                    <input type="text" name="email" th:value="${emailSignup}" required>
                </label><br>
                <label>Name:
                    <input type="text" name="name" th:value="${nameSignup}" required>
                </label><br>
                <label>Surname:
                    <input type="text" name="surname" th:value="${surnameSignup}" required>
                </label><br>
                <label>Password:
                    <input type="password" name="password" required>
                </label><br>
                <label>Confirm Password:
                    <input type="password" name="confirmPassword" required>
                </label><br>
                <input class="sendButton" type="submit" value="SignUp">
                <p th:text="${errorMsgSignup}"></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>