<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Transfer confirmation</title>
</head>
<body>
<div>
    <h1 th:text="${'Transfer n. ' + transferCode}">Transfer confirmation</h1>
    <div class="transfer-details">
        <p th:text="${transferCode}">code</p>
        <span th:text="${'$ ' + amount}">amount</span>
        <span th:text="${reason}">reason</span>
        <span th:text="${date}">date</span>
    </div>
    <div class="sender-details">
        <h2>Sender</h2>
        <span th:text="${'User code ' + senderUserCode}">senderUserCode</span>
        <span th:text="${'Account code ' + senderAccountCode}">senderAccountCode</span>
        <span th:text="${'Balance before transfer ' + senderBalanceBefore}">senderAccountBalanceBefore</span>
        <span th:text="${'Balance after transfer ' + senderBalanceAfter}">senderAccountBalanceAfter</span>
    </div>
    <div class="recipient-details">
        <h2>Recipient</h2>
        <span th:text="${'User code ' + recipientUserCode}">recipientUserCode</span>
        <span th:text="${'Account code ' + recipientAccountCode}">recipientAccountCode</span>
        <span th:text="${'Balance before transfer ' + recipientBalanceBefore}">recipientAccountBalanceBefore</span>
        <span th:text="${'Balance after transfer ' + recipientBalanceAfter}">recipientAccountBalanceAfter</span>
    </div>
</div>
</body>
</html>