<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/generic.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/transfer.css"/>
    <title>Transfer error</title>
</head>
<body>
<div id="header">
    <div id="back">
        <a th:href="${backButton}">
            <span id="backButton">&#11176;</span>
        </a>
    </div>
    <h1 th:text="${'Account n. ' + accountID}">Account Page</h1>
    <div id="logout">
        <a th:href="@{/Logout}">Logout</a>
    </div>
</div>
<div id="transfer-error">
    <div class="content">
        <h1>The requested transfer could not be performed:</h1>
        <p th:text="${errorMsg}"></p>
    </div>
</div>
</body>
</html>