@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#page {
    flex-direction: column;
    gap: 2em;
    margin-top: 2.3em;
    align-items: center;
}

#hl {
    border: 1px solid #b8b8b8;
    width: 1700px;
}

.content {
    width: 350px;
    height: 260px;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.detailRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    background-color: #243b53;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}