.form {
    padding: 50px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.container-login {
    justify-content: center;
    align-items: center;
    gap: 6em;
}